.no_rooms {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    i {
        text-shadow: 2px 2px 4px rgba($color: #000000, $alpha: .5);
    }
}